@font-face {
	font-family: Go Banana;
	src: url(./assets/GoBanana.ttf);
}

@font-face {
	font-family: Sports Jersey;
	src: url(./assets/sportsjersey.ttf);
}

/* # */
.red {
	color: red;
}

/* $ */
.blue {
	color: blue;
}

/* ^ */
.bodyYellow {
	color: #ffb547;
}

/* & */
.spiritPink {
	color: #fb5ca6;
}

/* * */
.mindBlue {
	color: #7cbbfb;
}

img#logo {
	margin-top: 16px;
	max-width: 95vw;
	pointer-events: none;
	user-select: none;
}

@keyframes bgscroll {
	0% {
		background-position-y: 0%;
	}

	100% {
		background-position-y: 100%;
	}
}

@keyframes hueshift {
	0% {
		background-color: #fff988;
	}

	33% {
		background-color: #ff96c7;
	}

	66% {
		background-color: #a2d0ff;
	}

	100% {
		background-color: #fff988;
	}
}

h2 {
	font-family: Go Banana;
	padding-left: 8px;
	padding-right: 8px;
	user-select: none;
}

h3, h4 {
	font-family: Go Banana;
	padding-left: 8px;
	padding-right: 8px;
	user-select: none;
}

.bmd-background {
	position: fixed;
	z-index: -2;
	background-image: url(./assets/background2a.png);
	
	height: 100vh;
	background-size: 50% 200%;
	width: 100vw;
	background-repeat: repeat-y;

	animation: bgscroll 18s linear infinite;
	will-change: background-position-y;
	transform: translate3d(0, 0, 0);
}

.bmd-background.top {
	background-image: url(./assets/background2b.png);
	animation-direction: reverse;
	opacity: 80%;
}

.bmd-background.flipped {
	animation-direction: reverse;
	transform: scaleX(-1);
	float: right;
}

.bmd-background.flipped.top {
	animation-direction: normal;
}

#background-darken {
	position: fixed;
	background-color: black;
	z-index: -1;
	opacity: 0;
	width: 100vw;
	height: 100vh;
}

#dialogueAdvance {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 500;
}

.bmd-button {
	color: white;
	background-color: black;
	border: 0px;

	--parallelogram-edge: min(50px, 10%);
	clip-path: polygon(var(--parallelogram-edge) 0, 100% 0, calc(100% - var(--parallelogram-edge)) 100%, 0 100%);

	position: relative;
	font-family: Go Banana;
	font-size: min(20pt, 4vw);

	z-index: 1000;
}

.bmd-button.start {
	width: min(65vw, 400px);
	height: min(10vh, 100px);

	left: 50vw;
	transform: translateX(-50%);
	margin-top: 1vh;
}

#startButtonContainer {
	margin-top: 10vh;
}

.bmd-button:hover {
	background-color: grey;
}

.bmd-button.next {
	left: 50%;
	transform: translateX(-50%);

	width: min(12vw, 80px);
	height: min(12vw, 80px);
}

.bmd-button.next > img {
	scale: 70%;
	max-width: 100%;
	pointer-events: none;
	user-select: none;
}

#bottomButtonsContainer {
	position: fixed;
	bottom: 5px;
	left: 5px;
	z-index: 1000;
}

.bmd-button.bottom {
	width: min(8vw, 50px);
	height: min(8vw, 50px);
}

.bmd-button.bottom > img {
	max-width: 80%;
	max-height: 80%;
	pointer-events: none;
	user-select: none;
}

.bmd-button.choice {
	min-width: 50vw;
	min-height: 10vh;
}

@keyframes fadein {
	from {
		opacity: 0.7;
	}

	to {
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.7;
	}
}

@keyframes beastie-fadein {
	from {
		filter: brightness(0);
	}

	to {
		filter: brightness(1);
	}
}

.textContainer {
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

.textContainer.center {
	top: 50vh;
	transform: translateX(-50%) translateY(-50%);
}

.textContainer.bottom {
	--textbox-width: min(80vw, 1000px);
	--textbox-height: min(30vh, 250px);
	bottom: 5vh;
	width: var(--textbox-width);
	height: var(--textbox-height);
}

.textBox {
	color: white;
	font-family: Go Banana;
	font-size: min(32pt, 8vw);
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1000;

	/* x: 0%, 6%, 18.75%, 50%, 81.25%, 94%, 100% */
	/* y: 0%, 10.1%, 24.4%, 50%, 75.6%, 89.9%, 100% */
	
}

.textBox.polygon {
	clip-path: polygon(
		50% 0%,
		81.25% 10.1%,
		94% 24.4%,
		100% 50%,
		94% 75.6%,
		81.25% 89.9%,
		50% 100%,
		18.75% 89.9%,
		6% 75.6%, 0% 50%,
		6% 24.4%,
		18.75% 10.1%
	);

	/*clip-path: polygon(
		50% 4%,
		18% 7.4%,
		4.8% 21.4%,
		1% 51%,
		6.6% 74.3%,
		51.3% 95.3%,
		81.1% 91.1%,
		93.4% 82.5%,
		99% 51%,
		93.5% 24.1%,
		80.8% 12.1%
	);*/
}

.textBox .text {
	padding: 8px;
	user-select: none;
}

.textBox .text.small {
	padding-left: calc(var(--textbox-width) * 0.1);
	padding-right: calc(var(--textbox-width) * 0.1);
	padding-top: calc(var(--textbox-height) * 0.22);
	user-select: none;

	font-size: min(28pt, 5vw);

	/*@media (min-width: 640px) {
		font-size: min(26pt, 4vw);
	}

	@media (min-width: 1024px) {
		font-size: min(28pt, 5vw);
	}*/
}

@keyframes textboxScroll {
	100% {
		background-position: 100%;
	}
}

.textBoxBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: white;*/
	background-image: url(./assets/textbox_back_texture.svg);
	background-repeat: repeat;
	background-size: 10%;
	clip-path: polygon(
		50% 4%,
		18% 7.4%,
		4.8% 21.4%,
		1% 51%,
		6.6% 74.3%,
		51.3% 95.3%,
		81.1% 91.1%,
		93.4% 82.5%,
		99% 51%,
		93.5% 24.1%,
		80.8% 12.1%
	);

	animation: textboxScroll 30s linear infinite;
	will-change: background-position;
	transform: translate3d(0, 0, 0);
}


@keyframes textIndicatorRotate {
	100% {
		transform: rotate(360deg);
	}
}

.textIndicator {
	animation: textIndicatorRotate 20s linear infinite;
	width: min(8vw, 50px);
	height: min(8vw, 50px);
	user-select: none;
	pointer-events: none;
}

#choices {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 10vh;
	z-index: 1000;
}

.spacer {
	min-height: 5vh;
}

.beastieCarousel {
	position: relative;
}

.beastieCarouselBeastie {
	pointer-events: none;
	user-select: none;

	position: absolute;
	top: 50vh;
	left: 50vw;
}
